* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 10000px;
}

.nav {
  border: 1px solid black;
  height: 50px;
  position: sticky;
  top: 0;
}

.top-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.main {
  display: flex;
}

.section {
  background-color: beige;
}

.section1 {
  flex-grow: 1;
}

.section2 {
  flex-grow: 4;
}

.section3 {
  flex-grow: 1;
}