<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>로렘 입숨</h1>
  <!-- 아무것도 적지 않으면 method 는 자동으로 기본값을 GET으로 넣어줌. GET 방식은 어떤 데이터를 가져오기 위해서 보내는 데이터를 의미 -->
  <form action="/ipsum" method="GET">
    문단의 수 <input type="text" name="ball1">
    문단별 단어의 수 <input type="text" name="ball2">
    <input type="submit">
  </form>
</body>

</html>