@font-face {
    font-family: "NetflixSans";
    src: url("fonts/NetflixSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

* {
    font-family: 'NetflixSans';
}